<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    {{> header}}
    <h1>{{title}}</h1>
    <!--<p>Created By - {{author}}</p>-->
    <img class = "portrait "src="/img/pic1.jpg">
    <h5>{{details}}e</h5>
    {{> footer}}
</body>
</html>